@import '~@angular/material/prebuilt-themes/indigo-pink.css';
//@import 'src/styles/fonts/fonts.scss';

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;600&display=swap');

html,
body {
  height: 100%;
  margin: 0;
}

// disable dragging images
img {
  -webkit-user-drag: none;
}

.swal2-styled, .mat-h2, .mat-title, .mat-typography h2 {
  font-family: 'Kanit', sans-serif;
}

@import '~bootstrap/scss/bootstrap';
/* Importing Bootstrap SCSS file. */
